doctype html 
html(lagn="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main
            block content
            h1 hi
    include partial/footer.pug